#snapzd {
  background: transparent url("../../images/zdlogo.svg") no-repeat;
  background-size: cover;
  border: none;
  width: 40px;
  height: 25px;
  float: left;
  margin-top: 32.5vh;
  margin-left: 2.5%;
}

#snapzd:focus{
  outline: none !important;
}


#home {
  display: flex;
  justify-content: center;
}

#map {
  position: relative;
  justify-content: center;
  height: 75vh;
  width: 75vw;
  margin-right: 75px;
}
