#snapzd {
  background-image: url("../../images/zdlogo.svg");
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  width: 40px;
  height: 25px;
}

#snapzd:focus{
  outline: none !important;
}


#home {
  display: flex;
  justify-content: center;
}

#mapContainer{
  display: flex;
  width: 75vw;
  height: 75vh;
  align-items: center;
}

#zdlogo {
  background-image: url('../../images/zdlogo.svg');
  position: relative;
}

#map {
  position: relative;
  justify-content: center;
  height: 75vh;
  width: 75vw;
}

