.snapjs-left {
  .snap-drawer {
    position: absolute;
    opacity: 100;
    top: 0;
    right: 0;
    display: inline-flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    bottom: 0;
    left: 0;
    width: 265px;
    height: auto;
    overflow: auto;
    border-right: 1px black;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.15);

    .zdlogo2 {
      height: 100px;
      width: 200px;
      margin-top: 20px;
      margin-left: 20px;
      background: url('../../images/zdlogo.svg') no-repeat;
      background-size: cover;
    }

    .active {
      background-color: #f09142;
      color: white;
    }
  }

  .form-style{
    width: 85%;
    height: 100%;
    margin-top: 50px;
    margin-right: 15px;
  }

  .form-group {
    padding: 10px;
  }

  .btn-group {
    button {
      width: 50%;
    }
  }

  .input-group-addon {
    background-color: #4d90fe;
  }

  .zip-button {
    background-color: #1473ca;
    color: white;
  }

  .zip-clear-button {
    background-color: #f09142;
    color: white;
  }

  .snap-content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: calc(100vw - 290px);
    height: auto;
    z-index: 2;
    overflow: auto;
    margin-right: 20px;

    .warnbox-content {
      display: none;
    }
    .warnbox-c1 {
      display: none;
    }
    .warnbox-c2 {
      display: none;
    }

    #right-panel {
      height: 75vh;
      float: right;
      width: 25vw;
      overflow: scroll;
      border: 1px black;

    }

    #snapzd {
      background: transparent url("../../images/zdlogo.svg") no-repeat;
      background-size: cover;
      border: none;
      width: 40px;
      height: 25px;
      float: left;
      margin-top: 32.5vh;
      margin-left: 0;
      margin-right: 10px;
    }
  }
}

.snap-content {
position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
width: auto;
height: auto;
z-index: 2;
overflow: auto;
}

.snap-drawer {
position: absolute;
top: 0;
right: auto;
display: none;
bottom: 0;
left: auto;
width: 265px;
height: auto;
overflow: auto;

.zdlogo2 {
height: 100px;
width: 200px;
display: block;
background: url('../../images/zdlogo.svg') no-repeat;
background-size: cover;
}

}

.snap-drawer-left {
left: 0;
z-index: 1;
}

.snap-drawer-right {
right: 0;
z-index: 1;
}

.snapjs-left .snap-drawer-right,
.snapjs-right .snap-drawer-left {
display: none;
}

.snapjs-expand-left .snap-drawer-left,
.snapjs-expand-right .snap-drawer-right {
width: 100%;
}
