navbar {
  display: block;
  background: white;
  border-bottom: 1px black;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,.15);

  .container {
    width: 91%;
    max-width: 1340px;
    padding-top: 20px;
  }

  a {
    color: white;
    font-size: 16px;
  }

  .nav > li > a {
    cursor: pointer;
    transition: color 0.2s;
    &.active {
      color: darken(#f31214, 10%);
    }
    &:hover {
      background: none;
      color: #f31214;
    }
    &:focus {
      background: none;
    }
  }
  #start-btn {
    float: right;
    background-color: #f09142;
    color: white;
    font-size: 16px;
    margin-right: 150px;
    border-radius: 40px;
    margin-bottom: 15px;
    height: 40px;
    width: 150px;
    line-height: 14px;
  }

}

.navzdlogo {
  padding: 0px;
  margin-left: 150px;
  height: 40px;
  width: 150px;
  vertical-align: baseline;
  background-repeat: no-repeat !important;

}