snap-content {
  background-color: white;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
}

.snapjs-left snap-content {
  width: calc(100% - 265px) !important;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;

  #map {
    width: calc(100% - 265px);
    margin-right: 20px;
  }

  #snapzd {
    margin-right: 0px;
  }

}

snap-drawer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
  position: relative;

  .zdlogo2 {
    height: 100px;
    width: 200px;
    margin-top: 20px;
    display: block;
    background: url('../../images/zdlogo.svg') no-repeat;
    background-size: cover;
  }
}
