* {
  box-sizing: border-box;
  font-family: 'Oxygen', sans-serif;
}

body {
  background: white;
  color: #1473ca;
}

#main {
  padding-top: 15px;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
@import 'directives/main';
@import 'home/main';
@import "sidebar/main";
@import url('https://fonts.googleapis.com/css?family=Oxygen');
